# These vars are only required when working with this example locally.
# They will be automatially set when you deploy your project to Zuplo.

ZUPLO_PUBLIC_SERVER_URL="http://localhost:9000"
ZUPLO_PUBLIC_DEPLOYMENT_NAME=