# Regional backend URLs for geolocation routing
# All default to https://echo.zuplo.io if not set

API_URL_AMERICAS=https://echo.zuplo.io
API_URL_EUROPE=https://echo.zuplo.io
API_URL_APAC=https://echo.zuplo.io
API_URL_DEFAULT=https://echo.zuplo.io