# Backend URLs
# We've included two mock APIs (powered by Mockbin) that work out of the box
API_URL_PRODUCTION=https://9b720748f6564204b6e2e0baa095d779_oas.api.mockbin.io
API_URL_CANARY=https://3e99109e442f4df598c518114b250e0d_oas.api.mockbin.io

# Canary Configuration
# Percentage of traffic to route to canary (0-100)
CANARY_PERCENTAGE=10

# Comma-separated list of consumer names to always route to canary
# These should match the names of API key consumers you create in the portal
CANARY_USERS=
