# OpenMeter Configuration - You don't need to change these
OPENMETER_URL=https://openmeter.cloud
OPENMETER_FEATURE_KEY=api_requests
OPENMETER_SOURCE=zuplo-api

# OpenMeter API Key
OPENMETER_API_KEY=your_openmeter_api_key_here

# Zuplo Configuration
ZP_DEVELOPER_API_KEY=your_zuplo_dev_api_key_here
ZP_API_KEY_SERVICE_BUCKET_NAME=your_bucket_name_here
