name: Examples
on:
  push:
    branches:
      - main
    paths:
      - "examples/**"

jobs:
  trigger-deploy:
    name: Refresh Examples
    runs-on: ubuntu-latest
    steps:
      - run: curl ${{ secrets.EXAMPLES_DEPLOY_HOOK }}
